body {
    background-color:rgb(14, 4, 38);
}

body {
    font-family: 'Roboto, sans-serif';
    margin: 0;
   
}

h1{
    font-size: 75px;
}

p {
    text-decoration: underline;
    color:yellow;
}
p2 {
    background-color: rgb(121, 3, 3);
    display: inline-flex;
    align-items:center;
    justify-content: center;
    margin:0;
    color:rgb(7, 6, 6);
    font-size: 50px;
    height: 70px;
    width: 200px;
    border: solid red;
}


h2 {
    color:white;
}



button {
    background-color:white;
    color:black;
    border: solid aqua 8px;
    font-size: 25px;
}

  