body {
    background-color:rgb(14, 4, 38);
}

body {
    font-family: 'Roboto, sans-serif';
    margin: 0;
   
}

h1{
    font-size: 75px;
}

p {
    text-decoration: underline;
    color:yellow;
}


h2 {
    color:white;
}



button {
    background-color:white;
    color:black;
    border: solid aqua 8px;
    font-size: 25px;
}

  